<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="headerdiv">
        <h1 id="title" class="header">Quiz generator</h1>
    </div>
    <p id="powered_by">Powered by OpenAI</p>

    <div class="inputdiv" id="imginput">
        <input type="file" id="file_upload" accept="image/*,.pdf,.csv,.doc,.docx,.txt" name="file input">
    </div>
    <button id="submit_button" class="button">Submit</button>

    <div class="loader" id="loader"></div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 